<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MC1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84A25F4D1CAEA45600F44A28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A25F601CAEA45600F44A28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A25F6B1CAEA45600F44A28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB58BF001C9C59670094EE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB58BF141C9C59670094EE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB58BF1F1C9C59670094EE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
